body {
    color: #565a5c;
    background-color: #F8F8F8;
}

.container {
    width: 80%;
}

.navbar-default {
    background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FF5A5F;
    font-size: 2em;
    font-weight: 400;
}

.btn-primary.btn {
    border: 1px solid #ff5a5f;
    border-radius: 2px;
    font-weight: bold;
    background-color: #ff5a5f;
    color: #fff;
    padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
    border-color: #ff7e82;
    border-bottom-color: #fa0008;
    background-color: #ff7e82;
    outline: none;
}

.btn-primary.btn:active {
    border-color: #e00007;
    background-color: #e00007;
    outline: none;
}

.btn-default.btn {
    width: 100%;
    border-radius: 2px;
    padding: 10px 0;
    margin-top: 10px;
}

.panel-default .panel-heading {
    color: #565a5c;
    background-color: #edefed;
    font-size: 18px;
    font-weight: 400
}

.row-space-1 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.row-space-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.row-space-3 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.description {
    color: #575757;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.avatar-small {
    width: 28px;
}

.avatar-medium {
    width: 48px;
}

.avatar-large {
    width: 68px;
}

.avatar-full {
    width: 100%;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    border-radius: 2px;
    height: 4rem;
}

.sidebar-list {
    padding-left: 0;
    list-style: none;
}

.sidebar-item {
    padding: 10px 0;
    font-size: 16px;
    color: #82888a;
    border-bottom: 1px solid #CCC;
}

.sidebar-link {
    color: #82888a;
    text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
    color: #cacccd;
    text-decoration: none;
}

.active.sidebar-link {
    color: #565a5c;
    font-weight: bold;
    text-decoration: none;
}

label {
    color: #565a5c;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 10px;
}

select {
    color: #565a5c;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
}

.select:before {
    content: '\25bc';
    font-size: 1.2em;
    position: absolute;
    color: #82888A;
    top: 40px;
    right: 30px;
    transform: scale(0.84, 0.42);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.panel-heading.preview {
    padding: 0;
}

.panel-heading.preview img {
    width: 100%;
}

.reservation-table td {
    width: 100%;
    border: 1px solid #dce0e0;
    padding: 10px;
}

.wide {
    width: 100;
}

.price_tag {
    background-color: #606567;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.discovery-card {
    background-size: cover;
    background-position: center;
    height: 326px;
}

.va-container {
    display: table;
    width: 100%;
    height: 100%;
}

.va-middle {
    color: #fff;
    vertical-align: middle;
    display: table-cell;
}